<form name="registerForm" class="form-horizontal" ng-submit="register()" novalidate>
    
    <!-- User name -->
    <div class="form-group" ng-class="{ 'has-error' : registerForm.userName.$invalid && !registerForm.userName.$pristine }">
        <label class="col-xs-3 control-label">User name</label>
        <div class="col-xs-5">
            <input type="text" name="userName" class="form-control" ng-model="user" required ng-minlength="2" ng-maxlength="10" />
            <span ng-show="registerForm.userName.$dirty && registerForm.userName.$error.required" class="help-block">Name is required</span>
            <span ng-show="registerForm.userName.$dirty && registerForm.userName.$error.minlength" class="help-block">Name is too short</span>
            <span ng-show="registerForm.userName.$dirty && registerForm.userName.$error.maxlength" class="help-block">Name is too long</span>
        </div>
    </div>

    <!-- Password -->
    <div class="form-group">
        <label class="col-xs-3 control-label">New password</label>
        <div class="col-xs-5">
            <input type="password" ng-model="password" class="form-control" name="password" />
        </div>
    </div>
    
    <!-- Confirm password -->
    <div class="form-group">
        <label class="col-xs-3 control-label">Confirm password</label>
        <div class="col-xs-5">
            <input type="password" ng-model="confirmPassword" class="form-control" name="confirmPassword" />
        </div>
    </div>

    <!-- Register button -->
    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>

</form>