<div class="page-header">
    <h2>New user registration</h2>
</div>

<form name="registerForm" class="form-horizontal v-gap" ng-submit="vm.register()" novalidate>

    <!-- User name -->
    <div class="form-group row" ng-class="{ 'has-error' : registerForm.userName.$invalid && !registerForm.userName.$pristine }">
        <label class="control-label col-md-2">User name</label>
        <div class="col-md-3">
            <input type="text" name="userName" class="form-control" ng-model="vm.user" required ng-minlength="2" ng-maxlength="100" autofocus/>
        </div>
        <div class="col-md-3 err-col">
            <span ng-show="registerForm.userName.$dirty && registerForm.userName.$error.required" class="help-block">Name is required</span>
            <span ng-show="registerForm.userName.$dirty && registerForm.userName.$error.minlength" class="help-block">Name is too short</span>
            <span ng-show="registerForm.userName.$dirty && registerForm.userName.$error.maxlength" class="help-block">Name is too long</span> 
        </div>
    </div>

    <!-- Password -->
    <div class="form-group row">
        <label class="control-label col-md-2 ">Password</label>
        <div class="col-md-3">
            <input type="password" name="password" class="form-control" ng-model="vm.password" required ng-minlength="6" ng-maxlength="100" />
        </div>
        <div class="col-md-3 err-col">
            <span ng-show="registerForm.password.$dirty && registerForm.password.$error.required" class="help-block">Password is required</span>
            <span ng-show="registerForm.password.$dirty && registerForm.password.$error.minlength" class="help-block">Password is too short</span>
            <span ng-show="registerForm.password.$dirty && registerForm.password.$error.maxlength" class="help-block">Password is too long</span> 
        </div>
    </div>

    <!-- Confirm password -->
    <div class="form-group row">
        <label class="control-label col-md-2">Confirm password</label>
        <div class="col-md-3">
            <input type="password" name="confirmPassword" class="form-control" ng-model="vm.confirmPassword" required />
        </div>
        <div class="col-md-3 err-col">
            <span ng-show="registerForm.confirmPassword.$dirty && registerForm.confirmPassword.$error.required" class="help-block">Password confirmation is required</span>
        </div>
    </div>

    <!-- Buttons -->
    <div class="form-group row">
        <div class="col-md-5 col-md-offset-2">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>